layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zellij-bar.wasm"
        }
    }
    tab name="Code (API)" cwd="DarAlmazadAPI" focus=true {
        pane borderless=true {
            command "nvim"
        }
    }
    tab name="Code (Core)" cwd="DarAlmazadCore" {
        pane borderless=true {
            command "nvim"
        }
    }
    tab name="Code (Tests)" cwd="DarAlmazadTests" {
        pane borderless=true {
            command "nvim"
        }
    }
    tab name="Code (Admin)" cwd="DarAlmazadAdmin" {
        pane borderless=true {
            command "nvim"
        }
    }
    tab name="Runtime (API)" {
        pane {
            command "dotnet"
            args "watch" "--project" "DarAlmazadAPI"
        }
    }
    tab name="Runtime (Admin)" {
        pane {
            command "dotnet"
            args "watch" "--project" "DarAlmazadAdmin"
        }
    }
}
session_name "DarAlmazad"
attach_to_session true
