Escape
	~/.config/sxhkd/openmenu-rc.sh close
b
	~/.config/sxhkd/openmenu-rc.sh brave
k
	~/.config/sxhkd/openmenu-rc.sh kitty
o
	~/.config/sxhkd/openmenu-rc.sh obs
n
	~/.config/sxhkd/openmenu-rc.sh obsidian
e
	~/.config/sxhkd/openmenu-rc.sh microsoft-edge-stable
s
	~/.config/sxhkd/openmenu-rc.sh screenkey
